web-server/app/__pycache__/__init__.cpython-38.pyc
web-server/app/__pycache__/routes.cpython-38.pyc
vk_parser/lib/db_post/__pycache__/__init__.cpython-38.pyc
vk_parser/lib/cfg/__pycache__/__init__.cpython-38.pyc
vk_parser/lib/cfg/__pycache__/cfg.cpython-38.pyc
vk_parser/lib/cfg/cfg.db
web-server/cfg.db
vk_parser/lib/__pycache__/db_lib.cpython-38.pyc
vk_parser/lib/__pycache__/parspost_lib.cpython-38.pyc
vk_parser/lib/post_parser/__pycache__/__init__.cpython-38.pyc
web-server/app/__pycache__/web_api.cpython-38.pyc
web-server/app/__pycache__/web_server.cpython-38.pyc
vk_parser/lib/cfg/__setup.py
vk_parser/lib/cfg/__pycache__/__setup.cpython-38.pyc
